.parrafo-contacto {
    text-align: center;
    margin-top: $espaciado-general * 2;
}

.main-contacto {
    @include flex-columna;
    gap: $espaciado-general * 2;
}

@media (min-width: $tablet) {
    .main-contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
}

iframe {
    max-width: 100%;
}

form {
    @include flex-columna;
    gap: $espaciado-general;

    /*anidacion 1*/
    .campos {
        @include flex-columna;
    }

    /*anidacion 2*/
    .botones-form {
        @extend .boton;
        background-color: $color-secundario;
        font-weight: bold;
        transition: ease-in .4s;

        &:hover {
            background-color: $color-primario;
            color: $color-secundario;
        }
    }
}